*
{
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 14px;
	
}

a {
	color: black;
	text-decoration: none;
}

body {
	background-color: #FFFFFF;
}

body > * {
	display: none;
}

#logo {
	margin: 120px 0 0 70px;
	width: 190px;
	height: 228px;
	background: #FFFFFF url('../img/multiverse-logo.png' no-repeat left top);
}

#navigation {
	margin: 70px 0 0 135px;
	background-color: #FFF;
	width: 248px;
	overflow: none;
}

#navigation > *
{
	margin: 22px 22px 0 22px;
	list-style: none;
	float: left;
}

#imageFrame {
	width: 45%;
	height: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #000000;
}

#footer {
	position: absolute;
	bottom: 70px;
	right: 50px;
}

.black {
	color: black;
}

.white {
	color: white;
}

.hidden {
	display: none;
}